@import url(./core.css);

:root {
  --secondary-color: rgb(45, 45, 45, 0.9);

  --brand: #6bbdd8;
}

* {
  font-family: 'Kanit', sans-serif;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  /* background-color: var(--background-main); */
  background-image: url('../assets/bg.png') !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-origin: 0 0;
  background-repeat: repeat-y;
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

::-webkit-scrollbar {
  max-width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #1d2129;
}

::-webkit-scrollbar-thumb {
  background-color: var(--brand);
  border-radius: 10px;
}

.mid {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-top: 10%; */
  margin-right: auto;
  margin-left: auto;
}

.logo {
  position: relative;
  /* top: -50px; */
  width: 30%;
  /* height: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  width: 50%;
  max-height: 20%;
  /* max-width: 250px; */
  /* max-height: 250px; */

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#version {
  color: white;
  font-size: 48pt;
  font-weight: 300;
  user-select: none;
  margin-top: 5%;
}

#subtitle {
  opacity: 0.7;
  font-weight: 100;
  margin-top: -30px;
  align-self: flex-start;
  text-align: center;
  width: 40%;
  margin-right: auto;
  margin-left: auto;
  text-transform: none;
  color: white;
}

.ip {
  width: auto;
  height: auto;
}

#ip-modal {
  top: 0px;
  visibility: hidden;
  user-zoom: none;
  user-select: none;
  background-color: var(--secondary-color);
  color: white;
  width: 200px;
  padding: 7px;
  font-weight: bold;
  position: relative;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  /* bottom: -130px; */
  border-radius: 10px;
  margin-bottom: 0;
}

#ip-modal-text {
  line-height: 0;
}

#ip-modal #nub {
  background-color: var(--secondary-color);

  height: 10px;
  width: 10px;
  position: relative;
  bottom: -10px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 2px;
  transform: rotate(45deg);
  margin-top: -5px;
}

#ip {
  user-select: none;
  color: white;
  margin-top: 0;
  font-size: 1.4em;
}

#ip:hover {
  transition: all 0.5s;
  color: var(--brand);
  font-weight: 200;
  cursor: pointer;
}

.icons {
  width: 100%;
  height: 50px;
  position: relative;
  display: flex;
  flex-direction: row;

  bottom: 10px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 50px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  align-items: center;
}

.icon {
  /* width: 27px; */
  height: 20px;
  user-select: none;
}

#join {
  color: white;
  opacity: 0.7;
  font-weight: 100;
  text-transform: none;
}

.icon-container {
  background-color: var(--secondary-color);
  min-width: 62px;
  min-height: 62px;
  width: 15%;
  text-align: center;
  display: flex;
  border-radius: 10px;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: center;
  margin-inline: 20px;
  align-items: center;
  color: white;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.icon-container:hover {
  transition: background-color 0.5s;
  background-color: var(--brand);
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  body {
    width: 100vw;
    height: 100%;
  }

  .container {
    /* background-color: var(--background-main); */
    background-image: url('../assets/bg.png') !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-origin: 0 0;
    background-repeat: no-repeat;
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #subtitle {
    width: 100%;
  }

  #logo {
    width: 100%;
  }

  .icon,
  .icon-container {
    transform: scale(0.9);
  }

  .icons {
    width: 100%;
    margin-top: 100px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .icon-container {
    background-color: var(--secondary-color);
    min-width: 62px;
    min-height: 62px;
    width: 100%;
    text-align: center;
    display: flex;
    border-radius: 10px;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
    margin-inline: 20px;
    align-items: center;
    color: white;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}
